################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/DontSleep/obj/Debug
/DontSleep/bin/Debug/DontSleep.pdb
/DontSleep/bin/Debug/DontSleep.exe.config
/DontSleep/icons8-カーソル-128.ico
